* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 90px;
}

main {
  height: 800px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 264px;
}


header > span {
  margin: 5px;
  column-gap: 10px;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  width: 200px;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

header > span > img{
  width: 40px;
}
