* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.header {
  display: flex;
  justify-content: space-between;

}

main{
    height: 800px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 264px;
}